<strong>Hello, {{ name }}</strong>

<p>Your question has been answered:</p>

<p style="color:#EE4D64"><strong>{{ question }}</strong></p>

<p><strong>Answer: </strong><i>{{ answer }}</i></p>

<p> - </p>
<p>Count on us! We are available to answer your questions and help you.</p>
</p>